<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:replace="${title}">БАЗА БАЗА БАЗА</title>

    <!-- CSRF мета-теги -->
    <meta name="_csrf" th:content="${_csrf?.token}"/>
    <meta name="_csrf_header" th:content="${_csrf?.headerName}"/>
</head>

<body th:fragment="layout(title, content)">
    <!-- хедер -->
    <header th:replace="~{fragments/layout/header :: header}"></header>

    <!-- Основной контент (вставляется из дочерней страницы) -->
    <main th:replace="${content}">
        <p>Здесь будет контент страницы</p>
    </main>

    <!-- футер -->
    <footer th:replace="~{fragments/layout/footer :: footer}"></footer>

    <!-- Место для подключения скриптов (пока пусто) -->
</body>
</html>